.App {
  text-align: center;
}

.App-header {
  /* border: 2px solid red; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.Movie-container {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  flex-wrap: wrap;
=======
>>>>>>> 2a7aba4020751efb385a16bb4effb4b97df1c71a
  justify-content: center;
  align-items: center;
}

.Movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: black;
  font-size: 1rem;
  /* border: 2px solid red; */
}

.Movie-search{
  margin-bottom: 1rem;
  padding: 12px;
  height: 12px;
  width: 200px;
  font-size: 1rem;
}
